._body{
    /*    background-color: #1f1f1f;
        margin: 0;
        padding: 0;*/

    background-color: #181b1f!important;
    padding-left: 40px;
    padding-right: 40px;
}

.font{
    font-size: 24px;
}

.color{
    color: #ff00bf; 
}
/*-----------------Header-----------------------*/

#_navbar_extended{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.navbar-brand{
    font-family: 'Raleway', sans-serif !important;
    font-size: 30px !important;
}

li a{
    color: #bd66ff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

@media(max-width: 1306px){
    li a{
        font-size: 20px;
    }
}

@media(max-width: 1185px){
    li a{
        font-size: 16px;
    }
}

@media(max-width: 1088px){
    li a{
        font-size: 15px;
    }

    .navbar-brand{
        font-size: 18px !important;
    }
}

._notificaiton_count{
    position: absolute;
    border-radius: 50%;
    background: red;
    font-size: 20px;
    top: -5px;
    right: -10px;
    padding: 3px 8px;
}

.nav-elem-float{
    float: left!important;
}

.dropdown-menu-extended {
    background-color: #373c42;
    color: white;
    min-width: 20rem;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    max-height: 500px;
    right: auto;
    left: 0;
}

@media (min-width: 992px){
    .nav-elem-float{
        float: right!important;
    }

}

@media (min-width: 620px){
    .dropdown-menu-extended {
        background-color: #373c42;
        color: white;
        min-width: 20rem;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        max-height: 500px;
        right: 0;
        left: auto;
    }
}

#_profile{
    margin-left: 5px;
}

#_profile_image{
    width: 50px;
    height: 50px;
}

#_profile_image:hover{
    border-top: 1px solid #dee2e6!important;
    border-bottom: 1px solid #dee2e6!important;

    border-radius: 100%;
}

hr{
    background-color: white;
}




/*---------------Content--------------*/

/*----------Highlights0---------*/

.res_img{
    height: 960px;
}

@media(max-width: 1250px){
    .res_img{
        height: 640px;
    }
}

@media(max-width: 900px){
    .res_img{
        height: 480px;
    }
}

@media(max-width: 600px){
    .res_img{
        height: 240px;
    }
}

/*-----------Cards-----------*/

.card{
    display: inline-block !important;
    box-sizing: border-box !important;
}

.card :hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.breadcrumb{
    margin: 16px auto 0 auto;
}

.btn-custom{
    border: 1px solid #ff00bf !important;
    color: #ff00bf !important;
}

.btn-custom :hover{
    background-color: #ff00bf !important;
    color: aliceblue !important;
}

.ol breadcrumb{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media(max-width: 1000px){
    .card-text{
        display: none;
    }
}

@media(max-width: 630px){
    .card-title{
        font-size: 15px;
    }
    
    .card-body{
        padding: 5px !important;
    }
    
    .card-body a{
        font-size: 15px !important;
    }
}

@media(max-width: 558px){
    .card-title{
        font-size: 10px;
    }
    .card-body a{
        font-size: 10px !important;
    }
}

/*--------------------------Footer------------------------*/

footer{
    margin-top: 16px;
    color:#bd66ff;
    background-color: #343a40;
    height: 150px;
}

#_social_icons{
    padding-top: 1rem;
    font-size: 1.5rem;
}

#_about_org{
    text-align: center;
}